<html>
  <head>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1><%= ENV["TITLE"] || "Picture Gallery" %></h1>
      <p>
        <%= link_to "Download ALL Pictures", "all-images.zip" %>
      </p>
    </div>
    <div id="pictures" class="text-center container">
      <% @pics.keys.sort.each do |k| %>
      <%= link_to image_tag(k), @pics[k] %>
      <% end %>
    </div>
  </body>
</html>
