<html>
  <head>
    <%= javascript_include_tag "jquery-photo-resize.js" %>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
      $("img").photoResize({
      bottomSpacing: 15
      });
      });
    </script>
    <style type="text/css" media="screen">
      body { text-align: center; }
    </style>
  </head>
  <body>
    <% if @quality == "compressed" %>
      Viewing Compressed Image, 
      <%= link_to "See Full Quality Here", show_picture_path(pic_name: @pic_name, format: @format, quality: "full") %>
    <% else %>
      Viewing Full Quality Image, 
      <%= link_to "See Compressed Here", show_picture_path(pic_name: @pic_name, format: @format) %>
    <% end %>
    
    <hr>
    <%= image_tag(@pic) %>
  </body>
</html>
